<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="AdminEmailAddress" value="bhb0047@naver.com"/><!-- 관리자용 이메일-->
    <add key="Delay" value="5000"/>
  </appSettings>
</configuration>