/* yesFooter.css 와 https_yesFooter.css 두개 파일 수정 필요 */
.yBlind,legend  { display:block;position:absolute;top:-1000em;left:0;width:1px;height:1px;overflow:hidden; }

#yesFooter { clear:both;margin-top:20px;min-width:960px;min-height:304px;_height:314px;background:#dfdfdf url('/sysimage/renew/footer/footer.png?v=170405') repeat-x left -456px; }
#yesFooter * { -webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box; }
#yesFooter img { vertical-align:top; }
#yesFooter #footerWrap { position:relative;z-index:1;margin:0 auto;width:960px;text-align:left; }
#yesFooter .yFootTop { height:44px; }
#yesFooter .yFootTop:after { content:'';clear:both;display:block; }
#yesFooter .yFootTop .yFootMnuLi { float:left; }
#yesFooter .yFootTop .yFootFamDl { float:right;margin-top:9px;position:relative;z-index:2;text-align:left; }
#yesFooter .yFootTop .yFootFamDl.tp_fam { margin:9px 50px 0 0; }
#yesFooter .yFootTop .yFootMnuLi li { float:left; }
#yesFooter .yFootTop .yFootMnuLi li a { display:block;height:44px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat left top; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_corp { width:51px;background-position:0 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_recu { width:59px;background-position:-51px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_agre { width:59px;background-position:-110px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_priv { width:101px;background-position:-169px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_boy  { width:91px;background-position:-270px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_mail { width:116px;background-position:-361px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_book { width:80px;background-position:-477px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_ad   { width:58px;background-position:-557px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_part { width:57px;background-position:-615px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_bene { width:59px;background-position:-672px 0; }
#yesFooter .yFootTop .yFootMnuLi li a.fMnu_used  { width:61px;background-position:-731px 0; }
#yesFooter .yFootTop .yFootSnsLi { position:absolute;right:126px;top:12px; }
#yesFooter .yFootTop .yFootSnsLi li { float:left;margin-right:4px; }
#yesFooter .yFootTop .yFootSnsLi li a { display:block;width:20px;height:20px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') repeat-x -400px -120px; }
#yesFooter .yFootTop .yFootSnsLi li a.sns_fb { background-position:-400px -120px; }
#yesFooter .yFootTop .yFootSnsLi li a.sns_tw { background-position:-430px -120px; }
#yesFooter .yFootTop .yFootSnsLi li a.sns_ig { background-position:-460px -120px; }
#yesFooter .yFootTop .yFootFamDl { width:120px;height:24px; }
#yesFooter .yFootTop .yFootFamDl dt { width:120px;height:24px;overflow:hidden;cursor:pointer;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -840px top; }
#yesFooter .yFootTop .yFootFamDl dt.on { background-position:-840px -30px; }
#yesFooter .yFootTop .yFootFamDl dt a { display:block;overflow:hidden;position:absolute;top:-1000em;left:0; }
#yesFooter .yFootTop .yFootFamDl dd { position:absolute;left:0;top:24px; }
#yesFooter .yFootTop .yFootFamDl dd strong.famDepth { display:block;padding-top:5px;height:18px;_height:23px;line-height:18px;font-size:11px;color:#666;text-indent:10px;font-weight:bold;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -840px -54px; }
#yesFooter .yFootTop .yFootFamDl dd ul { background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -840px -54px; }
#yesFooter .yFootTop .yFootFamDl dd ul li a { display:block;width:120px;height:18px;line-height:18px;font-size:11px;color:#666;text-indent:13px; }
#yesFooter .yFootTop .yFootFamDl dd ul li a:hover { color:#333;text-decoration:underline; }
#yesFooter .yFootTop .yFootFamDl dd div.famBot { width:120px;height:5px;font-size:1px;line-height:1px;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -840px -245px; }
#yesFooter .yFootCon { position:relative;z-index:1;min-height:148px;_height:148px; }
#yesFooter .yFootCon .yFootAddr dt .fLogo { position:absolute;left:0;top:0;width:135px;height:135px;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat 0 -60px; }
#yesFooter .yFootCon .yFootAddr dt .fCName { position:absolute;left:164px;top:21px;width:88px;height:15px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -179px -60px; }
#yesFooter .yFootCon .yFootAddr dd { position:absolute;left:164px;top:43px;width:450px;color:#999;font-size:11px; }
#yesFooter .yFootCon .yFootAddr dd address { font-style:normal; }
#yesFooter .yFootCon .yFootAddr dd a { color:#666; }
#yesFooter .yFootCon .yFootAddr dd a:hover { color:#666;text-decoration:underline; }
#yesFooter .yFootCon .yFootAddr dd a#corpNumLnk { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;margin-top:-1px;padding:0 7px 0 5px;height:15px;overflow:hidden;line-height:15px;letter-spacing:-1px;vertical-align:middle;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat right -269px;_background-position:right -268px; }
#yesFooter .yFootCon .yFootAddr dd adress { color:#999;font-size:11px; }
#yesFooter .yFootCon .yFootAddr dd .addrRow { display:block;margin-top:2px;line-height:16px; }
#yesFooter .yFootCon .yFootAddr dd .txt_copyright { margin-top:5px; }
#yesFooter .yFootCon .yFootCsDl dt { position:absolute;left:683px;top:17px; }
#yesFooter .yFootCon .yFootCsDl dt em.txt { display:block;width:220px;height:20px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -179px -90px; }
#yesFooter .yFootCon .yFootCsDl dd { position:absolute;top:49px;font-size:11px; }
#yesFooter .yFootCon .yFootCsDl dd li { height:16px;color:#666;font-size:11px; }
#yesFooter .yFootCon .yFootCsDl dd span.item { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;overflow:hidden;text-align:left;vertical-align:top;letter-spacing:-1px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel { left:682px;width:280px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel:after { content:'';clear:both;display:block; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li { float:left;width:140px;height:17px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.lftPos { margin-right:9px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.rgtPos { width:130px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel span.item { width:78px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.rgtPos span.item { width:68px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.csTelF { width:279px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.csTelF span.item { width:68px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.csTelL { margin-right:9px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.csTelL span.item { width:68px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.csTelR { width:130px; }
#yesFooter .yFootCon .yFootCsDl dd.csTel li.csTelR span.item { width:68px; }
#yesFooter .yFootCon .yFootCsDl dd.csFAQ { left:683px;top:87px; }
#yesFooter .yFootCon .yFootCsDl dd.csFAQ a { width:88px;height:22px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -179px -120px; }
#yesFooter .yFootCon .yFootCsDl dd.csFAQ a { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;overflow:hidden;text-align:left;vertical-align:top; }
* html #yesFooter .yFootCon .yFootCsDl dd.csFAQ a {text-indent:0 !important; line-height:0 !important; font-size:0 !important; overflow:hidden !important;}/*ie6 hack */  
*:first-child+html #yesFooter .yFootCon .yFootCsDl dd.csFAQ a { text-indent:0 !important; line-height:0 !important; font-size:0 !important; overflow:hidden !important;}/*ie7 hack */
#yesFooter .yFootCon .yFootCsDl dd.csFAQ a.btnCs1 { background-position:-179px -120px; }
#yesFooter .yFootCon .yFootCsDl dd.csFAQ a.btnCs2 { margin:0 1px;background-position:-179px -150px; }
#yesFooter .yFootCon .yFootCsDl dd.csFAQ a.btnCs3 { background-position:-179px -180px; }
#yesFooter .yFootCon .yFootCsDl dd.csEtc { left:683px;top:117px;color:#666; }
#yesFooter .yFootCon .yFootCsDl dd.csEtc span.item { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;overflow:hidden;text-align:left;vertical-align:top;letter-spacing:-1px; }
#yesFooter .yFootCon .yFootCsDl dd.csEtc span.item { width:68px; }
#yesFooter .yFootCon .csInfoD { position:absolute;left:460px;top:-1px;width:498px;_width:490px;border:solid 1px #ababab;background-color:#fff;border-radius:3px; }
#yesFooter .yFootCon .csInfoD .csInfoDCon { padding:15px;position:relative;text-align:left; }
#yesFooter .yFootCon .csInfoD strong.tit { display:block;width:82px;height:15px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -280px -60px; }
#yesFooter .yFootCon .csInfoD em.des { color:#999;letter-spacing:-1px; }
#yesFooter .yFootCon .csInfoD .infoDLi { margin-top:10px; }
#yesFooter .yFootCon .csInfoD .infoDLi li { line-height:18px;font-size:11px;color:#666; }
#yesFooter .yFootCon .csInfoD .infoDLi li strong.item { float:left;min-width:79px;_width:79px;color:#666;font-weight:normal;letter-spacing:-1px; }
#yesFooter .yFootCon .csInfoD .infoDLi li em.telNum { margin-right:3px;color:#333;font-weight:bold; }
#yesFooter .yFootCon .csInfoD .csInfoCmt { margin-top:8px;color:#999;font-size:11px;line-height:1.4em; }
#yesFooter .yFootCon .csInfoD .btnCloseCsInfo { position:absolute;left:459px;_left:444px;top:0;width:30px;height:30px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -285px -140px; }
#yesFooter .yes24Glory { height:88px; }
#yesFooter .yesUSafe { padding:20px 0;_height:55px; }
#yesFooter .yesUSafe dl:after { content:'';clear:both;display:block; }
#yesFooter .yesUSafe dt { float:left;color:#333;letter-spacing:-1px; }
#yesFooter .yesUSafe dt .imgAlt { margin-top:-3px;width:70px;height:18px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -285px -120px; }
#yesFooter .yesUSafe dd { float:left;padding-left:4px;font-size:11px;color:#999; }
#yesFooter .yesUSafe dd a { display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;margin-top:-1px;padding:0 7px 0 5px;height:13px;overflow:hidden;line-height:14px;letter-spacing:-1px;vertical-align:middle;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat right -269px;_background-position:right -268px; }
#yesFooter .yesUSafe dd a:hover { color:#333; }
#yesFooter .mobileGoBtn { padding:10px 0 30px 0;text-align:center; }
#yesFooter .mobileGoBtn img { vertical-align:top; }
#yesFooter #footerWrap .btnSTop { position:absolute;right:-50px;top:9px;width:45px; }
#yesFooter #footerWrap .btnSTop a.sclTop { display:block;width:45px;height:25px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer_160317.png?v=140508a') no-repeat -179px -210px; }
#partnerFooter { padding-bottom:15px;border-top:solid 1px #cbcbcb;background-color:#fff; }
#partnerFooter .partner_txt { margin:0 auto;width:960px;height:50px;line-height:50px;font-size:11px;color:#999;text-align:left; }
#partnerFooter .partner_txt em.accent { color:#333; }
#partnerFooter .partnerCsLi { margin:0 auto 20px auto;width:958px;height:40px;_width:960px;_height:42px;border:solid 1px #e8e8e8;border-radius:3px; }
#partnerFooter .partnerCsLi ul { padding:13px 0 0 16px; }
#partnerFooter .partnerCsLi li { float:left;margin-right:20px;color:#666;font-size:11px;line-height:15px; }
#partnerFooter .partnerCsLi li.partnertCsLast { margin-right:0; }
#partnerFooter .partnerCsLi li.partnerCsTel { width:209px;height:15px; }
#partnerFooter .partnerCsLi li.partnerCsTel em { display:block;width:184px;height:15px;overflow:hidden;text-indent:-999em;background:url('/sysimage/renew/footer/footer.png?v=170405') no-repeat -405px -90px; }
#partnerFooter .partnerCsLi li em.division { margin:0 5px;color:#dfdfdf; }
#partnerFooter .partnerCsLi li a { color:#666;font-size:11px; }