@{
    ViewBag.Title = "주문완료";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Thank You!!!</h2>
    </div>
</body>
</html>
