@model _1230_01_MVC.Models.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainView</title>
</head>
<body>
    <div> 
        로그인 정보
        <p>@Model.ID, @Model.PWD, @Model.Name</p>
    </div>
</body>
</html>
