<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="confmKey" value="devU01TX0FVVEgyMDE5MTAyODE2NTMzODEwOTE0NTI="/>
    <add key="fileCreateInterval" value="5000"/>
    <add key="fileWriteInterval" value="5000"/>
    <add key="fileReadInterval" value="3000"/>
    <add key="machineStateRead" value="3000"/>
    <add key="defectRate" value="50"/>
    <add key="intervalAmount" value="100"/>
  </appSettings>
  <connectionStrings>
    <add name="MachineProjectConnStr" connectionString="server=database-1.cz15omcnnc3w.ap-northeast-2.rds.amazonaws.com;uid=root;pwd=amazon1352!;port=3306;database=MachineProject;charset='utf8'"/>
  </connectionStrings>
</configuration>