<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add connectionString="server=127.0.0.1; uid=root; pwd=1234; port=3306; database=employees;" name="LocalConnectionString"/>
    <add connectionString="server=127.0.0.1; uid=root; pwd=1234; port=3306; database=goodie;" name="LocalConnectionStringForGoodie"/>
  </connectionStrings>
</configuration>